body{
    margin: auto;
    background: #f2f2f2;
}
#album-wrapper{
    width: 1020px;
    margin: auto;
    padding-top: 100px;
}
.swiper-container {
        width: 1020px;
        margin: auto;
        padding-top: 100px;
}
.album-title{
    color: rgb(51, 42, 31);
    font-size: 20px;
}
#albums-wrapper{
    width: 1020px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 100px;
}
.single-photos{
    margin: 15px;
}
.album-item{
    width: 30%;
}