ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } 
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #111;
  }
  .logo-image{
    height: 100%;
    width: 120px;
  }
  .header{
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}
.page-name{
    font-size: large;
    margin-top: 15px;
}
.logo-name{
    font-size: large;
    font-style: oblique;
    margin-top: 15px;
    margin-left: -560px; 
}
#search {
  padding: 8px;
  border: none;
  border-radius: 2px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
  }
.list-flex{
  display: flex;
}
#search-input-button {
  background: transparent;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  float: right;
  margin-left: -60px;
  margin-top: 5px;
  margin-right: 20px;
  position: relative;
}
#search-input-button img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}