body{
    margin: auto;
    background: #f2f2f2;
}
#wrapper{
    margin: auto;
    width: 80%;
}
h2{ 
    margin: auto;
    padding-top: 50px ;
    padding-bottom: 50px ;
    max-width: 1230px;
}
.item-names{
    margin: auto;
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding-right: 250px;
}
.main-elements-wrap{
    max-width: 1230px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#posts-wrapper{
    width: 30%;
}
#albums-wrapper{
    width: 30%;
    margin-top: 22px;
}
#users-wrapper{
    width: 30%;
}
.post-wrap{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
}
.comments-button{
    border: 0px;
    background-color: white;
    color: gray;
}
.comments-button:hover{
    border-bottom: 1px solid gray;
}
#user-albums{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
}
.album-item h3 a{
    width: 20px;
}
.albums-title {
    margin-bottom: -20px;
}
.user-wrap-home{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 48%;
    text-align: center;
    background-color: #3f71bd;
    color: white;
    font-size: 17px;
}
.title{
    text-decoration: none;
    color: rgb(85, 49, 6);
}
.view-data-button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
}