body{
    margin: auto;
    background: #f2f2f2;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
#wrapper{
    margin: auto;
    width: 1040px;
    display: flex;
    justify-content: space-between;
}
.user-wrap{
    width: 30%;
    height: 100%;
    margin: 15px;
    text-align: center;
    background-color: #3f71bd;
    color: white;
    font-size: 17px;
    position: sticky;
}
.header{
    margin: auto;
    text-align: center;
}
a{
    color: white;
}
.read-more{
    color: black;
}
.view-data-button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
}
.post-wrap{
    width: 48%;   
}
.post-item{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 25px;
    padding: 10px;
}
