body{
    margin: auto;
    background: #f2f2f2;
}
h1.header{
    margin-bottom: 30px;
}
#wrapper{
    margin: auto;
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.user-wrap{
    width: 30%;
    margin: 15px;
    text-align: center;
    background-color: #3f71bd;
    color: white;
    font-size: 17px;
}

button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
}